#translateHolder{
    /*define size of app*/
    width: 100%;
    height: 100%;
    position: relative;
}
#translateHolder button{
    width: 200px;
    padding: 1rem;
    margin: auto;
    text-align: center;
} 
#translationInput{
    margin-left: 8em;
    margin-right: 8em;
}
#translationInput textarea{
    min-height: 30vh;
    width: 100%;
    border: 0.4em 0.4em 0.4em 0.4em;
    border-style: solid;
    box-sizing:border-box;
    resize: none;
}

#translateOutput{
    min-height: 30vh;
    border: 0.01em;
    border-style: solid;
    margin-left: 8em;
    margin-right: 8em;
    padding: 1em;
}

.center { /*thank you DADU at https://stackoverflow.com/questions/6626314/center-an-item-with-position-relative */
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;

    margin-top: 1em;
    margin-bottom: 1em;  
}